@import url("https://db.onlinewebfonts.com/c/a7600f3ef906b725df694b7e08952f06?family=Pricedown+V2");

.gta {
    font-family: "Pricedown V2", sans-serif;
    font-weight: 400; /* opcional: ajustar según la fuente */
    font-style: normal; /* opcional */
}